
/**********************************************
FONT STYLE

**************************************************/
@import url(https://fonts.googleapis.com/css?family=Oswald:400,700|Droid+Serif:400,400italic);

/**********************************************
HEADER LAYOUT STYLE

**************************************************/

body {
	background-color: #E8F5E9;
	font-family: 'Droid Serif', serif;
	font-size: 14px;
	color: white;
}

.jumbotron{
	background-color: #343436;
	color: #f1f1f1;
	margin-bottom: 0;
	padding-bottom: 20px;
}




#header{
	padding-bottom: 0;
	margin-bottom: 0;

}



.selector{
	
	display: inline-block;
	padding-right: 10px;
}



h1{
	
	text-align: center;
	
}

/**********************************************
BODY ICONS STYLE

**************************************************/

.logo{

	width: 5em;
	border-radius: 50%;
	border: 2px white solid;

}

#icon{

	
	align-content: center;
	display: inline-block;
	padding-top: .5em;
	padding-bottom: .5em;
	padding-right: 20px;

	
}

#name{
	padding-top: 2.2em;
	text-align: center;
	font-size: 1em;
	font-weight: bold;
	
	width: 15em;

}

#streaming{
	font-size: 1em;
	padding-top: 2.2em;
	text-align: center;
	

}


.online{ 
	background-color: #B9F6CA;
	color: #4a5e82;
	text-decoration: none;

}

.offline{
	
	background-color: #00695C;
	color: #b8cca6;
	text-decoration: none;

}

.menu{
	background-color: #343436;
	width: auto;
	color: white;
	padding-top: 50px;
	margin-bottom: 20px;
}

.btn{

	color: white;
	background-color: #343436;
}

a{
	color: white;
	text-decoration: none;
}
a:hover{

	color: lightgray;
	text-decoration: none;
}



